@charset "utf-8";

/*Formulário*/

h2 { /*Cadastre-se...*/
    text-align: center;
    font-size: 2rem;
    padding: 10px 0 0 0;
}

.fcadastro {
    border: 1px solid #62117242;
    box-shadow: 1px 1px 3px #000000;
    width: 70%;
    margin: 2% auto;
}

.info, .dprincipais {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 6px;
}

p {
    margin: 02% 1%;
    font-weight: bold;
}

input, select, option {
    padding: 5px;
    background-color: #b1b1b196;
    border: none;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1% 0;
}

button {
    padding: 5px 10px 5px 10px;
    background-color: rgba(19, 3, 22, 0.6);
    border-radius:6px; 
    color: #ffffff;
    cursor: pointer; 
    font-size: 10pt;
    border: none;
    margin: 2.5% 0;
} 

.voltar {
    margin: 0 2%;
    padding: 5px 10px 5px 10px;
    font-family: Arial, sans-serif;
    background-color: rgba(19, 3, 22, 0.6);
    border-radius:6px; 
    color: #ffffff;
    font-size: 10pt;
    text-decoration: none;
} 

button:hover, .voltar:hover {
    background-color:#140118
}


/*media queries*/

/* Laptops */
@media (max-width:1024px) {
    p {
        margin: 1% 1%;
    }
}

/* Laptops */
@media (max-width:768px) {
    .nome {
        font-size:4rem;
    }
    .fcadastro, .info, .dprincipais  {
        flex-direction: column;
    }
    .fcadastro {
        margin: 2% auto 6% auto;
    }
    .fEmail, .fNome {
        width: 14rem;
    }
    .botoes {
        font-size: 80%;
        padding: 0;
    }
}

/* celulares menores */
@media (max-width: 480px){
    .menu {
        display: none;
    }
    p {
        padding: 1%;
    }
    h2 {
        font-size: 1.5rem;
    }
    .botoes {
        flex-direction: column;
    }
    button, .voltar {
        padding: 8px;
    }

}

@media (max-width: 395px){
    p {
        padding: 1%;
    }
    .fcadastro {
        width: 90%;
    }
    .fEmail, .fNome {
        width: 10rem;
    }


}
