@charset "utf-8";

body {
    display: flex;
    height: 100vh; 
}

.login {
    display: flex;
    width: 320px;
    height: 500px;
    background-color: #530463;
    color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
    font-size: 20pt;
    z-index: 1;
}

.femail, .fsenha {
    width: 15rem;
}

.botao {
    background-color: rgba(19, 3, 22, 0.6);
    border-radius:6px; 
    color: #cecece;
    padding: 5% 40% 5% 40%;
    font-size: 12pt;
    text-decoration: none;
    font-family: arial;
} 

.botao:hover {
    background-color:#140118
}

.slogin {
    font-size: 11pt;
    color:#ffffff;
}

.slogin:hover {
    color:#eecdf5;
}

.bgum {
    position: fixed;
    border-radius: 50%;
    background-color: rgba(77, 11, 94, 0.116);
    top: -100px;
    right: -50px;
    width: 30rem;
    height: 30rem;

}
.bgdois{
    position: fixed;
    border-radius: 50%;
    background-color: rgba(77, 11, 94, 0.116);
    left: -60px;
    bottom:-20px;
    width: 20rem;
    height: 20rem;
}

/*media queries*/

@media (max-width:768px) {
    .bgum {
        width: 25rem;
        height: 25rem;
    }
    .bgdois{
        width: 20rem;
        height: 20rem;
    }
    .login {
        font-size: 16pt;
        width: 300px;
        height: 390px;
    }

}

@media (max-width:425px) {
    .bgum {
        width: 20rem;
        height: 20rem;
    }
    .bgdois{
        width: 15rem;
        height: 15rem;
    }
    .botao {
        padding: 3% 40%;
        font-size: 10pt;
    } 
}

@media (max-width: 320px) {
    .bgum {
        width: 17rem;
        height: 17rem;
    }
    .bgdois{
        width: 12rem;
        height: 12rem;
    }
    .login {
        width: 250px;
        height: 340px;
        font-size: 12pt;
    }
    .femail, .fsenha {
        width: 12rem;
    }
}