@charset "utf-8";

body {
    display: flex;
    height: 100vh; 
}

.bgum {
    position: fixed;
    border-radius: 50%;
    background-color: rgba(77, 11, 94, 0.116);
    top: -170px;
    right: -60px;
    width: 40rem;
    height: 40rem;

}
.bgdois{
    position: fixed;
    border-radius: 50%;
    background-color: rgba(77, 11, 94, 0.116);
    left: -60px;
    bottom:-100px;
    width: 30rem;
    height: 30rem;
}

.login {
    display: flex;
    width: 320px;
    height: 500px;
    background-color: #530463;
    color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.4);
    font-size: 18pt;
    z-index: 1;
}

.femail, .fsenha {
    width: 15rem;
    font-size: 12pt;
}

.botao {
    background-color: rgba(19, 3, 22, 0.6);
    border-radius:6px; 
    color: #cecece;
    padding: 5% 40% 5% 40%;
    font-size: 14pt;
    text-decoration: none;
    font-family: arial;
} 

.botao:hover {
    background-color:#140118
}

.slogin {
    font-size: 12pt;
    color:#ffffff;
}

.slogin:hover {
    color:#eecdf5;
}



/*media queries*/

/* Laptops */
@media (max-width:1024px) {
    .bgum {
        top: -100px;
        right: -80px;
        width: 35rem;
        height: 35rem;
    }
    .bgdois{
        left: -80px;
        bottom:-120px;
        width: 25rem;
        height: 25rem;
    }
    .login {
        height: 450px;
    }
}

/* tablets e celulares */
@media (max-width:768px) {
    .bgum {
        width: 27rem;
        height: 27rem;
    }
    .bgdois{
        width: 20rem;
        height: 20rem;
    }
    .login {
        font-size: 16pt;
        width: 300px;
        height: 390px;
    }
}

/* celulares menores */
@media (max-width:480px) {
    .bgum {
        width: 20rem;
        height: 20rem;
    }
    .bgdois{
        width: 17rem;
        height: 17rem;
    }
    .botao {
        padding: 3% 40%;
    } 
    .login {
        font-size: 12pt;
        width: 260px;
        height: 390px;
    }
    .femail, .fsenha {
        width: 12rem;
    }
    .botao {
        font-size: 12pt;
    } 
}
